.popup__close {
  width: 32px;
  height: 32px;
  background-image: url('../../../images/close-button.svg');
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  left: calc(100% + 8px);
  top: -40px;
  cursor: pointer;
  transition: opacity .3s ease;
}

.popup__close-button:hover {
  opacity: 0.6;
}
  
.popup__close-button:focus {
  opacity: 0.6;
}

@media screen and (max-width:700px) {
  .popup__close {
    left: calc(100% - 20px);
    top: -36px;
    width: 20px;
    height: 20px;
    background-size: 100%;
  }
}