.profile__author-panel {
  display: flex;
  line-height: 0;
  position: relative;
}
  
@media screen and (max-width:522px) {
  .profile__author-panel {
    margin-top: 26px;
    justify-content: center;
  }
}