.popup__text-input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 27px;
  width: 358px;
  box-sizing: border-box;
  margin-left: 36px;
}

@media screen and (max-width:700px) {
  .popup__text-input {
    width: 238px;
    margin-left: 22px;
  }
}